@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Merienda:wght@700&family=Montserrat:wght@600;800&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    scroll-behavior: smooth;
}

#backgroundleft{
    background-image: url('./bgimghome.png');
    height: 99vh;
    width: 100%;
    z-index: -1;
}
#backgroundright{
    position: absolute;
    /* background-color: rgb(9,18,129); */
    height: 90vh;
    width: 47%;
    right: 0px;
    z-index: 200;
}

#hometext{
    position: absolute;
    top: 190px;
    left: 100px;
}

#p1{
    margin: 0;
    font-size: 40px;
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(255, 238, 238);
}

#p2{
    /* position: absolute; */
    margin: 15px 0 0 -5px;
    width: 500px;
    line-height: 95px;
    font-size: 85px;
    font-weight: 500;
    font-family: 'Merienda', cursive;
    /* color: rgb(9,18,129); */
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 4px rgb(0, 135, 22);
}

#p2::before{
    content: attr(data-text);
    position: absolute;
    color: rgb(8, 255, 41);
    -webkit-text-stroke: 1.1px rgb(0, 0, 0);
    border-right: 2px solid rgb(7, 146, 0);
    overflow: hidden;
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 90%;
    }
}

#p3{
    margin: 0;
    width: 450px;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Anek Telugu', sans-serif;
}

#donate{
    border: none;
    margin-top: 40px;
    margin-left: 15px;
    border-radius: 1px;
    background-color: #14cb2f;
    /* padding: 12px 15px; */
    height: 40px;
    width: 130px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    scale: 1.23;
}

#donate:hover{
    background-color: #10c02a;
}

#homevideo{
    position: absolute;
    top: 180px;
    right: 4.5vw;
    z-index: 500;
}

#video{
    /* height: 340px;
    width: 560px; */
    height: 26vw;
    width: 42vw;
    border-radius: 15px;
}


@media screen and (max-width: 1030px) {

    #hometext{
        margin-left: -50px;
    }
    #homevideo{
        z-index: 100;
        right: 4vw;
    }
    #video{
        z-index: 100;
        height: 28vw;
        width: 38vw;
    }
    #backgroundleft{
        height: 95vh;
    }
}

@media screen and (max-width: 850px) {
    #p1{
        font-size: 25px;
    }
    #p2{
        margin: 0px 0 -10px 0;
        font-size: 55px;
        width: 100px;
    }
    #p3{
        width: 280px;
    }
    @keyframes animate{
        0%,10%,100%
        {
            width: 0;
        }
        70%,90%
        {
            width: 100%;
        }
    }
    #video{
        height: 34vw;
        width: 37vw;
    }
}

@media screen and (max-width: 620px) {
    #home{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hometext{
        /* position: absolute; */
        top: 190px;
        left: auto;
        margin: 0;
        transform: scale(1.3,1.1);
        text-align: center;
    }
    #donate{
        margin: 20px 0;
    }
    #homevideo{
        position: absolute;
        top: 600px;
        left: 14vw;
        z-index: 500;
    }
    
    #video{
        height: 40vw;
        width: 72vw;
    }
    #backgroundleft{
        height: 140vh;
    }
}

@media screen and (max-width: 550px) {
    #home{
        display: flex;
        flex-direction: column;
    }
    #hometext{
        margin-top: -20px;
        /* left: 34vw; */
        text-align: center;
    }
    #p1{
        font-size: 20px;
        margin: 0;
    }
    #p2{
        font-size: 45px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    @keyframes animate{
        0%,10%,100%
        {
            width: 0;
        }
        70%,90%
        {
            width: 82%;
        }
    }
    #p3{
        font-size: 16px;
        margin: 0 auto;
        width: 240px;
    }
    #donate{
        margin: 30px 0;
    }
    #homevideo{
        margin: -50px 0;
    }
    #backgroundleft{
        height: 126vh;
    }
}

@media screen and (max-width: 450px) {
    #backgroundleft{
        height: 180vw;
    }
}

@media screen and (max-width: 400px) {
    #backgroundleft{
        height: 200vw;
    }
}